*{
  padding:0;
  margin:0;
}
.menu a{
   
   background-color: white;
   text-decoration: none;
    list-style-type: none;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
width: 1600px;
height: 92px
flex-direction: row;
justify-content::content;
align-items: center;
gap: 32;
padding : 10px;
 text-decoration: none;
 div{
  display: center;
 
 }
div{
   justify-content: center;
   align-items: center;
  
}
}



.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.hero-parent a{
     justify-content: space-between;
     border-radius: 24px;
     align-items: center;
     margin: auto;
     display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
   background-size: cover;
}
.hero-parent button{
  /* Frame 2087326311 */
width: 229px;
height: 35px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 6;
padding: 8px 12px 8px 12px;


  border-radius: 1000px;
background: var(--#30B868, rgba(70, 145, 101, 1));

color: white

}
.div{
  display: block;
}
.hero-parent {
  position: relative;      /* parent reference */
  height: 500px;
  width: 100%;
}

/* background image */
.hero-parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* text content */
.hero {
  position: absolute;      /* image er upor */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
  max-width: 700px;
}

/* button style */
.hero button {
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  background: white;
  font-weight: 600;
  margin-bottom: 20px;
}

/* green heading */
.hero .green {
  color: darkgreen;
}

/* paragraph */
.hero p {
  margin-top: 15px;
  line-height: 1.6;
}
